{% extends '@theme/layout.html.twig' %}

{% block title %}{{ 'index.title'|themeTrans }}{% endblock %}

{% block full_body %}
    {% if extra.latestEpisodes is defined %}
        <div id="latestEp">
            {% include '@theme/_titles.html.twig' with {titles: extra.latestEpisodes} %}
        </div>
    {% endif %}
    {% if extra.latestTitles is defined %}
        <div id="latest">
            {% include '@theme/_titles.html.twig' with {titles: extra.latestTitles} %}
        </div>
    {% endif %}
    {% if extra.popularTitles is defined %}
        <div id="popular">
            {% include '@theme/_titles.html.twig' with {titles: extra.popularTitles} %}
        </div>
    {% endif %}
{% endblock %}